.border{
    border: 2px solid yellow;
}

.flex{
    display: flex;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter:invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #000000; /* dark background */
}

::-webkit-scrollbar-thumb {
  background: #000; /* pure black thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #222; /* lighter black on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000 #111;
}
